{% extends 'flatpages/default.html' %}


{% block title %}
Posts in category
{% endblock title %}

{% block content %}
    <h1 class="text-center">All posts</h1>
    <a href="/posts/">Posts in category {{ category }}</a>
    <hr>
    {% if category_list %}
        <table style="width:600px; height:150px">
            <tr>
                <td><b>Name</b></td>
                <td><b>Date</b></td>
                <td><b>Text</b></td>
            </tr>

            {% for post in category_list %}
            <tr>
                <td>{{ post.header }}</td>
                <td>{{ post.date }}</td>
                <td>{{ post.text | truncatechars:20 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No posts</h2>
    {% endif %}


<!--    {{ posts }}-->
{% endblock content %}
